//? == Fonts ==

@font-face {
	font-family: 'CentraNo2';
	font-weight: 400;
	src: url(../assets/fonts/CentraNo2-Book.ttf) format('truetype');
}

@font-face {
	font-family: 'CentraNo2';
	font-weight: 500;
	src: url(../assets/fonts/CentraNo2-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'CentraNo2';
	font-weight: 700;
	src: url(../assets/fonts/CentraNo2-Bold.ttf) format('truetype');
}
