//? == Vars ==

//* -- Colors --
$Primary: #c778dd;
$BG: #282c33;

$White: #ffffff;
$Black: #000000;
$Gray: #abb2bf;

//* -- Gradients --
$MainGradient: linear-gradient(
	90deg,
	rgba($Primary, 0.5) 0%,
	rgba($BG, 0.5) 100%
);

//* -- Shadows --
$SmoothShadow: 0px 10px 25px rgba(29, 52, 54, 0.08);

//* -- Transitions --
$trans: 0.32s ease-in-out;
$trans-fast: 0.18s ease-in-out;
$trans-slow: 0.4s ease-in-out;
