//? == App ==

.App {
	&__container {
		padding-top: 114px !important;
	}
}

.container {
	width: 100%;
	max-width: 1064px;
	margin: 0 auto;

	position: relative;

	padding: 0 20px;
}

.header {
	width: 100%;

	position: fixed;
	top: 0;
	z-index: 9000;
}
