//? == Index SCSS ==

@import './styles/normalize';
@import './styles/fonts';
@import './styles/vars';

html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
}

body {
	font-family: 'Fira Code', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $White;
	background-color: $BG;

	position: relative;

	overflow-x: hidden;
}
